@import url(default.css);
@import url(font.css);
@import url(common.css);



.section{
    overflow: hidden;
}


/* .fp-responsive .fp-auto-height-responsive.fp-section{
    height: auto !important;
} */
.visual{
    position: relative;
}
.visual .tit h2{
    font-size: var(--visual-size);
    line-height: 0.7;
    border-bottom: 1px solid var(--line-black); 
    color: var(--line-black);
    text-align: center;
    padding: 0 0 20px 0;
}
.visual .sub_tit{
    padding: 0 30px;
    margin: 25px 0 0 0;
}
.visual .sub_tit ul {
    display: flex;
}
.visual .sub_tit ul li{
    padding: 0 45px;
}
.visual .sub_tit ul li p{
    color: var(--tit-font-color);
    font-size: var(--vi-intro-size);
    line-height: var(--tit-line-height);
}
.visual .sub_tit ul li:nth-child(odd){
    padding-top: 33px;
}
.visual .sub_tit ul li:first-child{
    padding-top: 0;
}
.visual .sub_tit ul li:first-child p{
    border-bottom: 1px solid var(--line-black);
    position: relative;
}
.visual .sub_tit ul li:first-child p::before{
    content: "";
    position: absolute;
    width: 65px;
    height: 1px;
    background-color: var(--line-black);
    top: 32px;
    left: 0;
}
.visual .sub_tit ul li:nth-child(4) p,
.visual .sub_tit ul li:nth-child(7) p{
    background-color: var(--main-font-color);
    padding: 1px 3px;
}
.visual .design_tit{
    padding: 0 30px;
    margin: 140px 0 0 0;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-end;
}
.visual .design_tit .de_tit span{
    font-size: var(--visual-sub-tit);
    line-height: 1;
    color: var(--line-black);
}
.visual .design_tit .line1 {
    width: 45%; /*835px*/
    height: 1px;
    background-color: var(--line-black);
}
.visual .design_tit .line2 {
    width: 30%; /* 288px; */
    height: 1px;
    background-color: var(--line-black);
}
.visual .design_tit .year p{
    font-size: 25px;
}
.visual .sticker{
    position: absolute;
    top: 34%;
    right: 10px;
    /* transform: rotate(5deg); */

    animation: sticker_down 3s linear infinite;

}
@keyframes sticker_down {
    0% {transform: translateY(0) rotate(5deg);}
    50% {transform: translateY(20%) rotate(5deg);}
    100% {transform: translateY(0)  rotate(5deg);}
}

.visual .sticker p{
    font-size: var(--tit-size);
    line-height: var(--tit-line-height);
    padding: 48px 37px;
    background-color: var(--point-font-color);
    border-radius: 50%;
    color: var(--line-black);
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.visual .sticker p::before{
    content: "";
    position: absolute;
    left: 12px;
    top: 9px;
    width: 287px;
    height: 124px;
    border: 1px solid var(--line-black);
    border-radius: 50%;
}


.about{
    background-color: var(--line-black);
    color: #fff;
    white-space: nowrap;
}
.about .wrapper{
    display: flex;
    justify-content: space-between;
}
.about .tit_wrap .main_tit{
   margin: 0 0 297px 0;
}
.about .introduce{
    width: calc(100% - 724px);
} 
.about .tit_wrap .main_tit h2{
    font-size: var(--about-size);
    font-weight: var(--bold-weight);
    line-height: 1.3;
}
.about .tit_wrap .main_tit span{
    display: inline-block;
    color: var(--tit-font-color);
    background-color: var(--main-font-color);
    padding: 1px 3px;
}
.about .introduce .gro{
    display: flex;
    justify-content: space-between;
}
.about .introduce .con{
    margin: 0 0 40px 0;
    width: calc(100% - 170px);
}
.about .introduce .experience.con,
.about .introduce .license.con{
    display: flex;
    justify-content: space-between;
}
.about .introduce .experience.con .detail,
.about .introduce .license.con .detail{
    width: calc(100% - 100px);
}
.about .introduce .con p{
    font-family: var(--font-family);
    line-height: var(--tit-line-height);
    margin: 0 0 7px 0;
}
.about .introduce .programs.con .icon{
   display: flex;
   overflow: hidden;
   height: 31px;
}
.about .introduce .programs.con .icon img{
    height: 100%;
    object-fit: cover;
    padding-right: 15px;
}



.index{
    background-color: var(--line-black);
    color: #fff;

    white-space: nowrap;
}
.index .wrapper{
    display: flex;
    justify-content: space-between;
}
.index .tit h2{
    font-size: var(--tit-size);
}
.index .list{
    width: calc(100% - 428px);
}
.index .list .photo_wrap{
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    margin: 0 0 130px 0;
}
.index .list .photo_wrap .photo{
    height: 190px;
    overflow: hidden;
    position: relative;
}
.index .list .photo_wrap .photo img{
    height: 100%;
    object-fit: cover;
}
.index .list .photo_wrap .photo.doosan_p::before{
    content: "";
    position: absolute;
    width: 131px;
    height: 31px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/main/index_logo1.png);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}
.index .list .photo_wrap .photo.chungbuk_p::before{
    content: "";
    position: absolute;
    width: 153px;
    height: 27px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/main/index_iogo2.png);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}
.index .list .photo_wrap .photo.samil_p::before{
    content: "";
    position: absolute;
    width: 115px;
    height: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/main/index_iogo3.png);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}
.index .list .index_wrap ul li a{ /*inner와 화살표의 정렬*/
    display: flex;
    justify-content: space-between;
    padding: 35px 0 10px 10px;
    border-bottom: 1px solid #fff;
    align-items: flex-end;
}
.index .list .index_wrap ul li a .arrow{
    position: absolute; /*after 정렬의 기준*/
}
.index .list .index_wrap ul li a .arrow::after{ /*화살표*/
    content: "";
    position: absolute; 
}
.index .list .index_wrap ul li:first-child a{
    border-top: 1px solid #fff;
}
.index .list .index_wrap ul li a .inner{
    width: calc(100% - 532px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.index .list .index_wrap ul li a .inner span{
    font-size: var(--tit-size);
    line-height: 1;
}
.index .list .index_wrap ul li a .inner h4{
    width: calc(100% - 69px);
    font-size: var(--sub-tit-size);
    font-weight: var(--bold-weight);
}

.index .list .index_wrap ul li a:hover{
    background-color: var(--main-font-color);
}
.index .list .index_wrap ul li a:hover .inner{
    color: var(--tit-font-color);
}

.index .list .index_wrap ul li a .arrow{
    position: relative;
}
.index .list .index_wrap ul li a .arrow::after{
    content: "";
    position: absolute;
    left: -51px;
    top: -42px;
    width: 41px;
    height: 41px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_96_194' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='41' height='41'%3E%3Crect width='41' height='41' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_96_194)'%3E%3Cpath d='M27.6325 22.2083H6.8335V18.7916H27.6325L18.0658 9.22492L20.5002 6.83325L34.1668 20.4999L20.5002 34.1666L18.0658 31.7749L27.6325 22.2083Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.index .list .index_wrap ul li a:hover .arrow::after{
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_97_247' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='41' height='41'%3E%3Crect width='41' height='41' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_97_247)'%3E%3Cpath d='M27.6322 22.2083H6.83325V18.7916H27.6322L18.0655 9.22492L20.4999 6.83325L34.1666 20.4999L20.4999 34.1666L18.0655 31.7749L27.6322 22.2083Z' fill='%23101010'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/********* #fp-nav ********/

#fp-nav.fp-left {
    left: 10px; /*왼쪽에서 떨어진 거리*/
}
#fp-nav ul li .fp-tooltip { /*글자*/
    color: transparent;
}
#fp-nav ul li a {
    position: absolute; /* li기준으로 정렬, a태그가 fp-tooltip까지 감싸야 돼서 absolute로 바꿔줌 */
    left: 0;
    top: 0;
}
#fp-nav ul li a::before{ /* 기본 동그라미 */
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 4px;
    height: 4px;
    background-color: var(--base-font-color);
    border-radius: 50%;
}
#fp-nav ul li .fp-tooltip.fp-left {
    left: auto;
}
#fp-nav ul li a span{
    display: none;  /*원래 동그라미 없애기*/
}

/* ################ 마우스 오버, 현재 클릭, 선택된 메뉴 ##################*/
#fp-nav ul li a.active::before,
#fp-nav ul li:hover a::before{ /*동그라미 초록색으로 바꿔주기*/
    background-color: var(--line-black);
    width: 9px;
    height: 9px;
    left: -2px;
}
/* ############### 검은색 배경일 때 ####################*/
body.bg_black #fp-nav ul li a::before{
    background-color: #fff;
}
body.bg_black #fp-nav ul li a.active::before,
body.bg_black #fp-nav ul li:hover a::before{
    background-color: #fff;
}


/********* 커서 이벤트**********/
.cursor {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    border-radius: 50%;
    font-size: 17px;
    color: #fff;
    text-align: center;
    pointer-events: none;
}
.cursor.photo1,
.cursor.photo2,
.cursor.photo3{
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    color: #1d1d1d;
    /* mix-blend-mode: difference; */
    background-color:var(--main-font-color);
}
.photo1,
.photo2,
.photo3{
	cursor: none !important;
}
/********* 커서 이벤트**********/


.chungbuk{
    background-color: var(--line-black); 
    padding: 90px 30px 70px 30px;
}
.chungbuk .wrapper{
    position: relative; /*more정렬 기준*/
}
.chungbuk .tit_group{
    white-space: nowrap;

    margin: 0 0 29px 0;
    display: flex;
    gap: 24px;
    align-items: flex-end;
}
.chungbuk .tit_group .tit h2{
    display: inline-block;
    font-size: var(--tit-size);
    line-height: var(--tit-line-height);
    background-color: var(--main-font-color);
    padding: 1px 20px;
}
.chungbuk .tit_group .tag_wrap{
    display: flex;
    color: #fff;
    gap: 12px;
}
.chungbuk .tit_group .tag_wrap .tag{
    padding: 7px 22px;
    border: 1px solid #fff;
    border-radius: 30px;
}
.chungbuk .list ul{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.chungbuk .list ul li a{
    display: block;
}
.chungbuk .list ul li a .photo1{
    height: 432px;
    /* width: 329px; */
    overflow: hidden;
}
.chungbuk .list ul li a .photo1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chungbuk .list ul li a .photo2{
    height: 432px;
    overflow: hidden;
}
.chungbuk .list ul li a .photo2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chungbuk .list ul li a .txt{
    color: #fff;
    font-family: var(--font-family);
    display: flex;
    justify-content: center; /*가운데*/
    line-height: var(--tit-line-height);
    margin: 12px 0 0 0;
}
.chungbuk .list ul li a .txt span{
    margin-left: 10px;
    padding-left: 10px;
    position: relative; /*before 정렬의 기준*/
}
.chungbuk .list ul li a .txt span::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 15px;
    top: 3px;
    left: 0;
    background-color: #fff;
}
.chungbuk .more_wrap{
    display: flex;
    position: absolute;
    top:0;
    right: 0;
}
.chungbuk .more_wrap .more a{
    display: block;
    padding: 11px 12px 12px 13px;
    line-height: var(--tit-line-height);
    background-color: var(--point-font-color);
    font-weight: var(--bold-weight);
    font-size: var(--sub-tit-size);
}
.chungbuk .more_wrap .more_sub a{
    margin-left: 10px;
    display: block;
    padding: 10px 11px 11px 12px;
    color: #fff;
    line-height: var(--tit-line-height);
    border: 1px solid #fff;
    font-weight: var(--bold-weight);
    font-size: var(--sub-tit-size);
}
.chungbuk .more_wrap .more a:hover{
    background-color: var(--main-font-color);
}
.chungbuk .more_wrap .more_sub a:hover{
    background-color: #fff;
    color: var(--tit-font-color);
}



.samil{
    background: linear-gradient(var(--line-black) 40%, #fff);
}
.samil .wrapper{
    position: relative; /*more정렬 기준*/
}
.samil .tit_group{
    white-space: nowrap;

    margin: 0 0 29px 0;
    display: flex;
    gap: 24px;
    align-items: flex-end;
}
.samil .tit_group .tit h2{
    display: inline-block;
    font-size: var(--tit-size);
    line-height: var(--tit-line-height);
    background-color: var(--main-font-color);
    padding: 1px 20px;
}
.samil .tit_group .tag_wrap{
    display: flex;
    color: #fff;
    gap: 12px;
}
.samil .tit_group .tag_wrap .tag{
    padding: 7px 22px;
    border: 1px solid #fff;
    border-radius: 30px;
}
.samil .list ul{
    display: flex;
    justify-content: space-between;
    /* gap: 24px; */
}
.samil .list ul li a{
    display: block;
}
.samil .list ul li a .photo1{
    height: 423px;
    overflow: hidden;
}
.samil .list ul li a .photo1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.samil .list ul li.small{
    width: calc(100% - 593px);
}
.samil .list ul li.small a .inner{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.samil .list ul li.small a .inner .photo2{
    height: 423px;
    overflow: hidden;
}
.samil .list ul li.small a .inner .photo2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.samil .list ul li.small a .inner .photo3{
    /* width: 490px; */
    height: 423px;
    overflow: hidden;
}
.samil .list ul li.small a .inner .photo3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.samil .list ul li a .txt{
    display: flex;
    color: var(--tit-font-color);
    font-family: var(--font-family);
    justify-content: center; /*가운데*/
    line-height: var(--tit-line-height);
    margin: 12px 0 0 0;
}
.samil .list ul li a .txt span{
    margin-left: 10px;
    padding-left: 10px;
    position: relative;
}
.samil .list ul li a .txt span::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 15px;
    top: 3px;
    left: 0;
    background-color: var(--tit-font-color);
}
.samil .more{
    position: absolute;
    top: 0;
    right: 0;
}
.samil .more a{
    display: block;
    padding: 11px 12px 12px 13px;
    line-height: var(--tit-line-height);
    background-color: var(--point-font-color);
    font-weight: var(--bold-weight);
    font-size: var(--sub-tit-size);
}
.samil .more a:hover{ /*더보기 오버효과*/
    background-color: var(--main-font-color);
}



.doosan .wrapper{
    position: relative; /*more정렬 기준*/
}
.doosan .tit_group{
    white-space: nowrap;

    margin: 0 0 29px 0;
    display: flex;
    gap: 24px;
    align-items: flex-end;
}
.doosan .tit_group .tit h2{
    display: inline-block;
    font-size: var(--tit-size);
    line-height: var(--tit-line-height);
    background-color: var(--main-font-color);
    padding: 1px 20px;
}
.doosan .tit_group .tag_wrap{
    display: flex;
    color: var(--tit-font-color);
    gap: 12px;
}
.doosan .tit_group .tag_wrap .tag{
    padding: 7px 22px;
    border: 1px solid var(--tit-font-color);
    border-radius: 30px;
}
.doosan .list ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
}
.doosan .list ul li a{
    display: block;
}
.doosan .list ul li a .photo1{
    height: 409px;
    overflow: hidden;
}
.doosan .list ul li a .photo1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.doosan .list ul li a .photo2{
    margin: 80px 0 0 0;
    height: 349px;
    overflow: hidden;
}
.doosan .list ul li a .photo2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.doosan .list ul li a .txt{
    color: var(--tit-font-color);
    font-family: var(--font-family);
    display: flex;
    justify-content: center; /*가운데*/
    line-height: var(--tit-line-height);
    margin: 12px 0 0 0;
}
.doosan .list ul li a .txt span{
    margin-left: 10px;
    padding-left: 10px;
    position: relative; /*before 정렬의 기준*/
}
.doosan .list ul li a .txt span::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 15px;
    top: 3px;
    left: 0;
    background-color:  var(--tit-font-color);
}
.doosan .more{
    position: absolute;
    top: 0;
    right: 0;
}
.doosan .more a{
    display: block;
    padding: 11px 12px 12px 13px;
    line-height: var(--tit-line-height);
    background-color: var(--point-font-color);
    font-weight: var(--bold-weight);
    font-size: var(--sub-tit-size);
}
.doosan .more a:hover{ /*더보기 오버효과*/
    background-color: var(--main-font-color);   
}



.thank {
    white-space: nowrap;
}
.thank .tit{
    margin: 0 0 81px 0;
}
.thank .tit h2{
    text-align: center;
    font-size: var(--thank-size);
    line-height: 0.8;
}
.thank .list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.thank .list .contact{
    margin: 0 98px;
}
.thank .list .contact span{
    display: block;
    font-size: var(--about-size);
    line-height: var(--tit-line-height);
    padding: 3px 23px;
    background-color: var(--point-font-color);
}
.thank .list .email span,
.thank .list .phone span{
    font-size: var(--thank-list-size);
}